/* Fonts */
.poppins-thin {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: italic;
}

body{
    margin-left: 0;
    margin-right: 0;
}

/* Header */

header {
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo-text{
    font-size: 40px;
}

.logo-dot{
    width: 18px;
    height: 18px;
    border: 2px white solid;
    border-radius: 50%;
    background-color: #00A7E0;
    margin-top: 34px;
    margin-left: -13px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-list li {
    list-style: none;
}

.header-list-container{
    width: 40%;
}

.header-list{
    margin: 19px 0;
    width: 100%;
    justify-content: space-evenly;
}

ul {
    padding: 0;
}

.header-icons {
    width: 30%;
    justify-content: space-between;
}

.compte-button button {
    width: 154px;
    height: 49px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
}

.compte-button-text {
    font-size: 18px;
    color: #454545;
}

.compte-button-icon {
    height: 27px;
}

/* Main */

.top-announcement{
    /* width: 100%; */
    height: 769px;
    background: url("/Top-Bouilloire/src/images/Group19108.png"), linear-gradient(80.95deg, #1E2021 1.05%, #03ADE8 100%);
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: nowrap;
}

.top-announcement-text {
    width: auto;
}

.top-announcement-text p{
    color: white;
    font-size: 30px;
    /* line-height: 25px; */
}

.top-announcement-text h1 {
    color: white;
    font-size: 60px;
    line-height: 105px;
    margin: 0;
}

.top-announcement-text button {
    width: 208px;
    height: 60px;
    border-radius: 5px;
    border: 0px;
    background-color: rgba(0, 167, 224, 1);
    color: white;
    font-size: 21px;
    line-height: 31.5px;
}

.separator {
    width: 80px;
}

.top-announcement-image{
    z-index: 1;
}

.top-announcement-image-background{
    position: absolute;
    width: 722px;
    height: 722px;
    margin-left: 39%;
    margin-top: 30px;
    z-index: 0;
    background: radial-gradient(circle, rgba(182, 236, 255, 1) 0%, rgba(255, 0, 0, 0) 71%); 
}

.recomendation-buttons-section {
    height: 109px;
    background-color: rgba(0, 74, 99, 1);
}

.recomendation-buttons-block {
    display: flex;
    height: 100%;
}

.recomendation-buttons {
    display: flex;  
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.recomendation-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    max-width: 500px;
    height: 100%;
    text-decoration: none;
    font-size: 21px;
    color: white;
}

.recomendation-buttons-scroll {
    margin: auto;
}

.recomendation-buttons-scroll div {
    display: flex;
}

.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    margin: 10px;
}

.scroll-btn-forward svg  {
    margin-left: -2px;
}

.scroll-btn-backward svg{
    margin-left: 2px;
}

.rec-but-scroll-1 {
    background: rgba(0, 167, 224, 1);
}

.rec-but-scroll-2{
    background-color: rgba(0, 167, 224, 0.32);
}

/* independent */
.margin-x-auto {
    margin: auto 0;
}

.margin-auto {
    margin: auto;
}

.padding-x-13{
    padding: 0 12% 0 12%;
}